<style> 
.validx{
    border:1px solid red;
}
</style>

<div class="row">
        <div class="col-md-3" >
    
                <div class="panel panel-default">
                        <div class="panel-heading">
                          <h3 class="panel-title">Employee</h3>
                          
                        </div>
                        <div class="panel-body">
                                <div class="col-md-12" >
                                                                              
                                   
                                        <form  onsubmit="return false"  id="frm" class="uploadImage" method="post" action="saveRoom" enctype="multipart/form-data" id="formRoom">
                                            
                                            <div class="form-group">
                                                <label for="name" class="cols-sm-2 control-label">Name</label>
                                                <div class="cols-sm-10">
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                                                        <input type="text" ng-model="employee.firstname" class="form-control" name="name" id="name" placeholder="First name">
                                                        <input   type="text" ng-model="employee.lastname" class="form-control" name="id" id="id" placeholder="Last name">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                    <label for="name" class="cols-sm-2 control-label">Details</label>
                                                    <div class="cols-sm-10">
                                                        <div class="input-group">
                                                            <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                                                            <input type="email" ng-model="employee.email" class="form-control" name="name" id="name" placeholder="email">
                                                            <input   type="number" ng-model="employee.number" class="form-control" name="id"  placeholder="number">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                        <label for="name" class="cols-sm-2 control-label">Credentials</label>
                                                        <div class="cols-sm-10">
                                                            <div class="input-group">
                                                                <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                                                                <input type="password" ng-model="employee.password" class="form-control" name="name" id="name" placeholder="password">
                                                                <input   ng-class="{ 'validx': isValid}"  type="password" ng-model="employee.password2" class="form-control" name="id"  placeholder="confirm password">
                                                            </div>
                                                        </div>
                                                    </div>
                                            
                                        <div class="row">
                                            <div class="form-group col-md-12">
                                                <label for="password" class="cols-sm-2 control-label">Is Admin</label>
                                                <div class="cols-sm-10">
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><i class="fa fa-star-half-full fa-lg" aria-hidden="true"></i></span>
                                                        <select class="form-control" ng-change="unitChanged()" ng-model="employee.isadmin">
                                                            <option ng-selected="data.unit == item.id" ng-repeat="item in status" ng-value="item.id">{{item.label}}</option>
                                                       </select>
                                                    </div>
                                                </div>
                                            </div>
                                
                                           
                                        </div>
                                            
                                            
                                        
                                
                                
                                            <div class="form-group ">
                                                    <input  type="button" class="form-control  btn btn-primary " value="Update" ng-click="createEmployee()" />
                                                
                                               
                                            </div>
                                            
                                        </form>
                                    </div>
                        <div>
                               
                      </div>
                                  
                        </div>
             </div>
            
        </div>
        <div class="col-md-9"><div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                        <span class="panel-title">Users 
                            </span>
                    <div class="col-md-5">
                        <div class="row"></div>
                        
                <dir-pagination-controls
                pagination-id="cust"                       
                max-size="5"
                direction-links="true"
                boundary-links="true" >
                </dir-pagination-controls>
            </div>
                    <div class="col-md-5 pull-right">  <input type="text" ng-model="search" class="pull-right form-control" placeholder="Search" name="" value="" ></div>
                </div>
              
             
            </div>
            <div class="panel-body">
              <table class="table table-striped">
    
                <thead>
                    <th>id</th>
                    <th>firstname</th>
                    <th>lastname</th>   
                    <th>email</th>
                    <th>number</th>        
                    <th>is admin </th>    
                    
                    
                    </thead>
                <tbody>
                    <tr  dir-paginate="usr in employees | itemsPerPage:4|filter:search" pagination-id="cust">
                       <td>{{usr ._id| cut:true:4:' ...'}}</td> 
                       <td>{{usr.firstname}}</td> 
                       <td>{{usr.lastname}}</td>
                       <td>{{usr.email}}</td> 
                       <td>{{usr.number}}</td> 
                       <td>{{usr.isadmin }}</td> 
                       
                      
                       <td><button class=" btn btn-primary" ng-click="getUser(usr)">View </button>
                        
                    </td>          
                    </tr>
                </tbody>
              </table>
            </div>
          </div>
         </div>
    </div>